git+https://github.com/Rapptz/discord.py
aiohttp==3.8.0
async-timeout==3.0.1
chardet==4.0.0
idna==3.3
multidict==5.2.0
yarl==1.7.2
typing-extensions==4.0.1
discord.py==1.7.3
gunicorn==20.1.0
gevent==21.12.0
youtube_dl==2021.12.17
