requests==2.21.0
requests-oauthlib==1.0.0
git+https://github.com/Rapptz/discord.py
aiohttp==3.7.4.post0
async-timeout==3.0.1
discord.py>=1.7.3
gunicorn==20.1.0
gevent==21.12.0
youtube_dl==2021.12.17
django>=3.2.5
bs4>=0.0.1
python-dotenv
